<div class="grid-container">
    <div class="box">
        <div class="destination-card">
            <h2>{{name}}</h2>
            <img src="{{trip.imageUrl}}" alt="destination-image" style="width: 300px; height: 450px;"/>
        </div>
    </div>

    <div class="box-text">
        <h2>Upcoming Trips</h2>
    </div>

    {{#each trips as |trip|}}
    <div class="box">
        <div class="card">
            <a href="/trips/{{trip.imageUrl}}" class="link-to-trip">
             <img src="{{destination.imageUrl}}" alt="{{trip.name}}">
        </div>
        {{/each}}

     {{!--    <script src="/js/destination.js"></script> --}}