<body class="body">
    {{log trips}}
    {{log itineraries}}
    <h2 class="title">{{name}}</h2>
    <div id="container"></div>


    <div class="container">

        {{#each itineraries as |itinerary|}}
        {{log (parseJson itinerary.events)}}
        <div class="box">
            <div class="grid-box">

                <h2>Trip {{plusOne @index}}</h2>
                
                <div>
                    {{!-- <p>{{itinerary.events}}</p> --}}
                    {{#each (parseJson itinerary.events) as |event| }}
                    <h3> {{event.location}} : {{event.date}} </h3>
                    <p>{{event.time}}: {{event.details}}</p>

                    {{/each}}

                </div>
            </div>
            {{/each}}
        </div>
    
    </div>

{{!-- <div class="button-container">
  <button id="previous-button">Previous</button>
  <button id="next-button">Next</button>
</div> --}}
</body>
<script src="/js/nextbuttons.js"></script>